name: UpdateForecastingWeeks 

on:

  workflow_dispatch:
  schedule:
    - cron: "00 13 * * 5"

    
jobs:

  update_forecasting_weeks_job:
    if: github.repository_owner == 'european-modelling-hubs'
    runs-on: ubuntu-latest
    steps:

    # Checkout the python tools repo
    # -------------------------------------------      
    - name: checkout python tools repo
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        repository: 'european-modelling-hubs/hub-tools'
        ref: 'main'
        path: './tools/'

    # Checkout the data repository
    # -------------------------------------------      
    - name: checkout data repo
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        repository: 'european-modelling-hubs/flu-forecast-hub'
        ref: 'main'
        path: './repo/'


    
    # Run Pyton code
    # -------------------------
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10' 
    
    - run: pip install pandas
    
    - name: update forecasting weeks
      id: update_forecasting_weeks
      run: |
        python ./tools/code/update_forecasting_weeks.py --hub_path ./repo

    - name: Commit data repo changes
      uses: EndBug/add-and-commit@v7
      with: 
          cwd: './repo'
          message: "Update data storage"
          default_author: github_actions
          push: true
