name: Metadata Upload

on:
  # scheduled submission every day at 1.30 a.m. 
  # schedule:
  #   - cron: '30 5 * * 3'  

  # needed to trigger manually
  workflow_dispatch:

  
jobs:
  scheduled-submit:
    runs-on: ubuntu-latest
    
    steps:

      # Checkout the python tools repo
      # used to authenticate and validate the PR
      # -------------------------------------------      
      - name: checkout python tools repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: 'european-modelling-hubs/hub-tools'
          ref: 'main'
          path: tools

      # Checkout the data repo
      - name: checkout data repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: 'european-modelling-hubs/flu-forecast-hub'
          ref: 'main'
          path: './repo/'
          
      # Get the list of changes from a json file 
      - name: Get changes list
        id: get_changes
        run: |
          echo "Read changes list from json"
          content=`cat ./repo/.github/data-storage/metadata_db.json`
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          echo "::set-output name=packageJson::$content"
          

      - run: |
          echo "${{ steps.get_changes.outputs.packageJson }}"

          
    
      # Trigger server-side updating and UI deploy
      # --------------------------------------------
      # WEBHOOK
      - name: Invoke deployment hook
        id: invoke_webhook
        env:
          disease_name: ${{ secrets.DISEASE_NAME }}
          webhook_url: ${{ secrets.WEB_HOOK_URL }}
          webhook_secret: ${{ secrets.WEB_HOOK_SECRET }}
          data: ${{ steps.get_changes.outputs.packageJson }}
          data_type: "metadata"

        run: |
          pip install requests
          python ./tools/.github/scripts/utils/workflow_webhook.py

      - name: trace only
        run: |
          echo "webhook results: ${{ steps.invoke_webhook.outputs.run_results }}"
          echo "Status:  ${{ fromJSON(steps.invoke_webhook.outputs.run_results).status }}"

      - name: Successful run
        if: ${{ fromJSON(steps.invoke_webhook.outputs.run_results).status == 'success'}}
        run: |
          echo "UPLOAD SUCCEEDED -  clear djson db"
          python ./tools/code/clear_data_storage.py --storage_type "model-metadata"

      - name: Some ingestion failed
        if: ${{ fromJSON(steps.invoke_webhook.outputs.run_results).status == 'failure'}}
        run: |
          echo "UPLOAD FAILED - Some ingestion failed -  $not_ingested"
          python ./tools/code/clear_data_storage.py --storage_type "model-metadata" --not_ingested ${{ fromJSON(steps.invoke_webhook.outputs.run_results).failed_ingestions }}
  
      - name: Error
        if: ${{ steps.invoke_webhook.outputs.run_results.status == 'error'}}
        run: |
          echo "UPLOAD FAILED -  ignore djson db cleaning"

      - name: Commit changes
        if: ${{ fromJSON(steps.invoke_webhook.outputs.run_results).status == 'failure' || fromJSON(steps.invoke_webhook.outputs.run_results).status == 'success' }}
        uses: EndBug/add-and-commit@v7
        with: 
          cwd: './repo'
          message: "Update metadata db json"
          default_author: github_actions
          push: true
