name: TestNewPersist

on:
  workflow_dispatch:


jobs:

  prepare-data-to-be-persisted:
    runs-on: ubuntu-latest
    outputs:
      changed_files:  ${{ steps.fake-data-generator.outputs.all_changed_files }}

    steps:
      - name: tracer
        run: echo "Running prepare-data-to-be-persisted"
        
      - name: fake data generator
        id: fake-data-generator
        run: echo 'all_changed_files="model-output/TEST_TEAM-TEST_MODEL/2024-02-28-TEST_TEAM-TEST_MODEL.csv"' >> $GITHUB_OUTPUT
        
  call-persisting-wf:
    needs: prepare-data-to-be-persisted
    uses: european-modelling-hubs/flu-forecast-hub/.github/workflows/persist_changes.yml@main
    with:
      changes-list: ${{ needs. prepare-data-to-be-persisted.outputs.changed_files }}
      # changes-list: 'model-output/TEST_TEAM-TEST_MODEL/2024-02-28-TEST_TEAM-TEST_MODEL.csv'
      # changes-list: toJSon('pr-changes:${{ needs.prepare-data-to-be-persisted.outputs.changed_files }}')

    secrets:
      envPAT: ${{ secrets.GITHUB_TOKEN }}



    
    # steps:
    #   # Checkout the tools repo
    #   # -------------------------------------------      
    #   - name: checkout tools repo
    #     uses: actions/checkout@v3
    #     with:
    #       token: ${{ secrets.GITHUB_TOKEN }}
    #       repository: 'european-modelling-hubs/hub-tools'
    #       ref: 'main'
    #       path: './tools/'

          
    #   # Checkout the data repository
    #   # -------------------------------------------      
    #   - name: checkout data repo
    #     uses: actions/checkout@v3
    #     with:
    #       token: ${{ secrets.GITHUB_TOKEN }}
    #       repository: 'european-modelling-hubs/flu-forecast-hub'
    #       ref: 'main'
    #       path: './repo/'


    #   # Save test data to the persist_changes wf
    #   - uses: european-modelling-hubs/flu-forecast-hub/.github/workflows/persist_changes.yml@main
    #     with:
    #       changes-list: 'model-output/TEST_TEAM-TEST_MODEL/2024-02-28-TEST_TEAM-TEST_MODEL.csv'          
    #     # secrets:
    #     #   envPAT: ${{ secrets.GITHUB_TOKEN }}
          

    #   - name: Commit changes
    #     uses: EndBug/add-and-commit@v7
    #     with: 
    #         cwd: './repo'
    #         message: "Update Test data"
    #         default_author: github_actions
    #         push: true
  



          
